.stock-lists{
    display:grid;
    max-width: 910px;
    margin: 5px auto;
    grid-template-columns: 20px 150px 500px 80px 120px ;
    grid-template-rows: 35px;
    grid-column-gap: 10px;
    align-items: center;
    background-color: var(--primary-table-cell-background);
    font-size: 0.9em;
}

.stock-lists-input{
    width: 35px;
    height: 20px;
    justify-self: center;
}

.stock-lists-titles{
    display:grid;
    max-width: 910px;
    margin: 0 auto;
    grid-template-columns: 20px 150px 500px 80px 120px ;
    grid-template-rows: 35px;
    grid-column-gap: 10px;
    align-items: center;
}

.titles {
    font-weight: bold;
    width: 910px;
    margin: 0 auto;
    height: 25px;
}

.brand-titles{
    display: flex;
    align-items: center;
    max-width: 910px;
    margin: 5px auto;
    background-color: var(--primary-color);
    height: 25px;
}
.brand-titles > div{
    padding: 0 30px;
    font-weight: bold;
}
#save-button{
    float: right;
}
.stock-checked-titles{
    display:flex;
    justify-content: center;
}