.tab-select{
    padding:2px 5px;
    text-align: left;
}

.table {
    display:grid;
    font-size:0.9em;
    padding:10px;
    grid-gap:10px;
    grid-template-columns: repeat(9, auto);
    white-space: nowrap;
}

.sub-table {
    background: var(--table-background-color);
    border-radius: var(--primary-border-radius);
    box-shadow: var(--primary-box-shadow);
    padding:2px;
}

.header {
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding:0 5px;
    grid-gap:10px;
    height:28px;
    align-content: center;
    justify-content: center;
}
.header > div:nth-child(even) {
    display:grid;
    justify-content: right;
}

.header-buttons {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.row {
    height:24px;
    margin: 2px 0;
    background: var(--primary-table-cell-background);
}

.row:nth-child(odd){
    background: var(--primary-table-cell-background-alt);
}

.row.active{
    background-color: var(--primary-color);
}

.title{
    background: var(--primary-table-title);
    border-top: 2px solid var(--primary-table-background);
    border-bottom: 2px solid var(--primary-table-background);
    border-radius: 0;
    position:sticky;
    top:0;
    height:30px;
}

.row input[type="checkbox"]{
    margin:0;
}
.row > div {
    display:grid;
    padding:0 2px;
    border-right:1px solid rgba(0,0,0,20%);
    justify-content: center;
    align-content: center;
}

.row > div:last-child {
    border-right:none;
}

.row > span {
    display:grid;
    border-right:1px solid rgba(0,0,0,20%);
    padding:0 10px;
    align-content: center;
}

.row > span:last-child{
    border-right:none;
}

.row select, .row input {
    padding-left:5px;
    width:100%;
    text-align: justify;
}
.info-title-checkbox{
    display:grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.info-cell{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.info-grid{
    display:grid;
    grid-template-columns: 30px 30px 30px 250px 400px;
}
.info-grid-collapsed {
    display:grid;
    grid-template-columns: 30px 30px 30px 250px;
}
.prices-grid {
    display:grid;
    grid-template-columns: 120px 100px;
}
.prices-grid-collapsed {
    display:grid;
    grid-template-columns: 120px;
}
.costs-grid {
    display:grid;
    grid-template-columns: 200px repeat(4, 100px);
}
.costs-grid-collapsed {
    display:grid;
    grid-template-columns: repeat(3, 100px);
}
.ebay-grid {
    display:grid;
    grid-template-columns: repeat(3, 100px) 130px;
}
.ebay-grid-collapsed {
    display:grid;
    grid-template-columns: 100px 130px;
}

.amazon-grid {
    display:grid;
    grid-template-columns: repeat(3, 100px) 130px 32px 130px;
}
.amazon-grid-collapsed {
    display:grid;
    grid-template-columns: 100px 130px 32px 130px;
}

.magento-grid {
    display:grid;
    grid-template-columns: 100px 130px;
}

.magento-grid-discount {
    display:grid;
    grid-template-columns: 100px 100px 100px 130px;
}

.shop-grid {
    display:grid;
    grid-template-columns: 100px 100px 100px 130px;
}
.misc-grid {
    display:grid;
    grid-template-columns: 300px;
}

.red-text{
    color:#ff7878;
}

.green-text{
    color: #87ee87;
}

.gray-text{
    color:lightgray;
}

.listing-error{
    background: #ff6e68;
    border: 1px solid red;
}
.listing-pending{
    background: #ffe551;
    border: 1px solid goldenrod;
}
.listing-success{
    background: #a2ffa2;
    border: 1px solid green;
}
.price-mismatch{
    border: 1px solid red;
    background: #ecebeb;
}
.tooltip{
    display:grid;
    grid-gap:5px;
}