.table {
    display:grid;
    height:100%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background: #d9d6d2;
}

.table-button, .table-add-button{
    background:whitesmoke;
    color:black;
    box-shadow: 2px 2px 2px 2px lightgray;
    padding:var(--sidebar-padding);
    border-radius:5px;
    margin:var(--sidebar-margin);
    justify-content: center;
    user-select: none;
}
.table-button{
    display:grid;
    text-align: center;
    grid-template-rows:50px 40px 1fr 25px;
    grid-template-columns: 100%;
    grid-gap:5px;
    align-items: center;
}
.title-text{
    font-size: 0.8em;
    color:gray;
    overflow:hidden;
    text-overflow: ellipsis;
}
.table-add-button{
    display: flex;
    align-items: center;
    font-size: 50px;
}
.sidebar-button{
    display:grid;
    padding:0;
    grid-template-columns: auto 1fr;
}
.add-button{
    text-align: center;
    background:var(--primary-table-background);
    box-shadow: var(--primary-box-shadow);
    border-radius:5px;
    margin:var(--sidebar-margin)
}

.sidebar-button-title, .sidebar-button-edit{
    padding:2px 5px;
    line-height:18px;
}

.sidebar-add-button{
    text-align: center;
}

.sidebar-button-title:hover,
.sidebar-button-edit:hover,
.add-button:hover,
.table-add-button:hover{
    background:var(--primary-color)
}


.new-quick-link{
    margin:10px;
    display:grid;
    grid-template-rows: auto auto auto;
    grid-gap:10px;
    align-content: center;
    justify-content: center;
}
.new-quick-link > button {
    margin-top:10px
}

.dual-button-container{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.dual-button-container > button {
    width:auto;
    height: 20px;
}