.container {
    display:grid;
    grid-template-rows:32px 1fr;
}

.menu{
    display:grid;
    grid-template-columns: 60px repeat(10, auto);
    margin:5px;
    grid-gap: 10px;
}

.menu input {
    margin:0;
}

.row {
    display:grid;
    grid-gap: 10px;
    grid-template-columns: 40px 40px 250px 1fr;
    margin:5px;
    padding: 2px 5px;
    background: var(--primary-table-cell-background);
    border-radius: var(--primary-border-radius);
}

.row:nth-child(odd) {
    background: var(--primary-table-cell-background-alt);
}

.quantity {
    text-align: right;
}