.search-bar-container{
    grid-area: searchbar;
    width: 50%;
    margin:10px auto;
    background-color: var(--primary-table-background);
    padding:3px 10px;
    border-radius: var(--primary-border-radius);
    box-shadow: var(--primary-box-shadow);
}
.rod-location-title{
    display:grid;
    grid-template-columns: 20px 250px 1fr 80px;
    margin: 3px;
    padding: 2px;
    align-items: center;
}
.rod-location-grid{
    box-shadow: var(--primary-box-shadow);
    margin: 10px;
    border-radius: var(--primary-border-radius);
    padding: 10px;
}
.rod-location-grid-cell{
    display:grid;
    background-color: var(--table-cell-background-color);
    grid-template-columns: 20px 250px 1fr 80px;
    margin: 3px;
    border-radius: var(--primary-border-radius);
    padding: 2px;
    align-items: center;
}
.upload-button{
    margin: 20px 5px;
}

.sidebar-button-container{
    position: sticky;
    top:10px;
}

/*-------------------------------------------New Items--------------------------------------------*/

.row-container, .title-row-container{
    display: grid;
    grid-template-columns: repeat(13, 100px);
}
.number-input {
    width: 80px;
}


/*-------------------------------------------Item Details-----------------------------------------*/

.details-sections{
    box-shadow: var(--primary-box-shadow);
    background-color: var(--primary-table-background);
    border-radius: var(--primary-border-radius);
    margin: 10px;
    padding: 10px;
}

/*-----------Status------------*/

.item-details-status{
    display:grid;
    grid-template-columns: 35% 15% 15% 35%;
}
.status-titles{
    display:grid;
    grid-template-rows: repeat(5, 26px);
    margin:0 10px;
    text-align: right;
}
.status-inputs{
    display:grid;
    grid-template-rows: repeat(5, 26px);
    justify-content: left;
}

/*-----------Essentials------------*/

.item-details-essentials{
    display:grid;
    grid-template-areas: "titles-1 inputs-1 titles-2 inputs-2";
    grid-template-columns: 200px 1fr 150px 100px;
}
.essentials-titles-1{
    display:grid;
    grid-area: titles-1;
    grid-template-rows: repeat(8, 26px);
    margin:0 10px;
    text-align: right;
}
.essentials-inputs-1{
    display:grid;
    grid-area: inputs-1;
    grid-template-rows: repeat(8, 26px);
    justify-content: left;
    grid-template-columns: 1fr;
}
.essentials-titles-2{
    display:grid;
    grid-area: titles-2;
    grid-template-rows: repeat(8, 26px);
    margin:0 10px;
    text-align: right;
}
.essentials-inputs-2{
    display:grid;
    grid-area: inputs-2;
    grid-template-rows: repeat(8, 26px);
    justify-content: left;
}
.title-inputs{
    width:100%;
    text-align: left;
}
/*-------------Descriptions----------------*/
.descriptions-containers{
    margin:20px
}
.description-titles{
    margin:10px 0
}
/*------------Images--------------------*/
.image-container{
    margin: 10px 0;
    display:flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-evenly;
}
.image-drop-box{
    transition: 0.1s;
    border:1px solid white;
    width:15%;
    aspect-ratio: 1/1;
    border-radius: var(--primary-border-radius);
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
}

.image-drop-box img {
    max-height:100%;
    max-width:100%;
}
.image-dropped{
    background:white;
}

/*-----------Amazon Properties------------*/

.amazon-props-container{
    display: grid;
}
.amazon-props-titles{
    margin:10px 0 ;
}
.bullet-points{
    display:grid;
    grid-template-columns: 50px 1fr;
    text-align: right;
}
.bullet-points div{
    margin: 4px;
}
.bullet-points input{
    text-align: left;
    margin: 3px;
}
.search-terms-container{
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.search-term{
    display:grid;
    grid-template-columns: 30px 1fr;
    margin:0 5px;
    text-align: right;
}
.search-term span{
    margin:1px 5px
}

.amazon-categories > span{
   margin: 0 18px
}

/*-----------Linked SKUS------------*/

.item-details-linked-skus{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding:5px;
}

.item-details-linked-skus > div{
    background-color: var(--table-cell-background-color);
    border-radius: var(--table-cell-border-radius);
    margin: 3px;
    padding: 5px
}

/*-------Brand Label Pop Up----------*/

.brand-label-container{
    display: grid;
    grid-template-columns: 178px 300px;
}

.brand-label-image{
    display: grid;
    grid-template-rows: 1fr 30px;
}

.brand-label-image img{
    margin: 3px;
    height:170px;
    width:170px;
    border: 1px solid white;
    object-fit: contain;
    background: white;
}

.brand-label-info{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr 30px;
    grid-row-gap: 15px;
    margin: 0 10px
}

.brand-label-titles{
    display: flex;
    text-align: right;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.brand-label-inputs{
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: space-between;
    margin: 0 10px;
}

.brand-label-character-count{
    position:relative;
}

.brand-label-character-count div {
    position:absolute;
    right:10px;
    top:2px;
    color: lightgrey;
}
.brand-label-inputs input{
    text-align: left;
}

.brand-label-print-button{
    grid-area: 2/1/2/3;
    margin: 2px 0;
    justify-content: center;
    display:grid;
    align-content: center;
}

