.item-database-container{
    display:grid;
    grid-template-areas:    "menu menu"
                            "searchBar searchBar"
                            "sideBar table";
    grid-template-columns: 250px 1fr;
}
.item-details-parent{
    display:block;
    overflow-y: scroll;
    background-color: var(--primary-background);
    width: 100%;
    height: 100%;
}
.side-menu-cell button{
    width: 110px;
    margin: 3px 0
}
.search-bar-container{
    grid-area: searchBar;
}
.table{
    grid-area: table;
    margin: 10px 10px 10px 0;
    background-color: var(--table-background-color);
    border-radius: var(--table-border-radius);
    box-shadow: var(--table-box-shadow);
}
.sideBar {
    grid-area: sideBar;
}
.sideBar > div{
    background-color: var(--sidebar-background-color);
    border-radius: var(--sidebar-border-radius);
    box-shadow: var(--sidebar-box-shadow);
    display:grid;
    justify-items: center;
    width: 100%;
    margin: 10px auto;
    padding: 5px;
}
.sideBar button{
    width:110px;
    text-align: center;
}

