.frame{
    z-index: 1000;
    position: fixed;
    display:grid;
    bottom: 50px;
    opacity: 0;
    width: 100%;
    height: fit-content;
    color:black;
    pointer-events: none;
    animation-name:toast;
    animation-duration: 3s;
    justify-content: center;
}

.content {
    width:fit-content;
    padding:5px 10px;
    background-color:var(--primary-inactive-text);
    border-radius: var(--primary-border-radius);
    box-shadow: var(--primary-box-shadow);
    font-weight:bold;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

@keyframes toast {
    0%   {opacity:0}
    10%  {opacity: 0}
    25%  {opacity: 1}
    75%  {opacity: 1}
    90%  {opacity: 0}
    100% {opacity: 0}
}