.top-bar {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 50px;
    width: 100%;
}
.top-bar button {
    font-size: medium;
    padding: 0.2rem;
    margin: 0 0.5rem;
}
.table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center;
    margin-bottom: 0.1rem;
}
.row {
  background: var(--table-cell-background-color);
  border-radius:var(--table-cell-border-radius);
}
.table th {
  padding: 8px;
}
.table td {
  padding: 8px;
  border: 1px solid #ddd;
  white-space: wrap;
  word-wrap: break-word;
}
.table th:nth-child(n-2), .table td:nth-child(n-2){
  width: 20%;
}
.table th:nth-child(3), .table td:nth-child(3) {
  width: 30%;
}
.table th:nth-child(n+4), .table td:nth-child(n+4) {
  width: 5rem;
}
.table tbody tr:hover {
  background-color: var(--primary-color);
}
.table button {
  border: none;
  padding: 8px;
  cursor: pointer;
} 
.row input {
  width:75%;
  cursor: pointer;
}