.wrapper{
    height:100%;
    display:grid;
    grid-gap:10px;
    padding:10px;
    grid-template-rows: auto 1fr;
}

.menu, .menu-collapsed {
    width: fit-content;
    display:grid;
    grid-gap:10px;
    padding:5px;
    background: var(--primary-table-background);
    border-radius: var(--primary-border-radius);
    box-shadow: var(--primary-box-shadow);
}

.menu select, .menu-collapsed select {
    border:none;
}

.menu{
    grid-template-columns: 100px 120px 100px 100px 100px 260px;
}

.menu-collapsed {
    grid-template-columns: 100px 100px 100px 100px 260px;
}

.dot-key{
    display: grid;
    padding: 0 5px;
    align-content: center;
    grid-template-columns: auto auto auto;
    grid-gap:10px;
    background: var(--primary-table-cell-background);
    border-radius: var(--primary-border-radius);
}
.dot-key-label {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items:center;
    font-size: 0.8em;
}

.info-table {
    display:grid;
    width: 630px;
    grid-template-rows: auto;
}
.info-row {
    display:grid;
    grid-template-columns: 20px 100px 100px 100px 100px 100px 100px;
    padding:2px 5px;
    background: var(--primary-table-cell-background);
}
.info-row:nth-child(odd) {
    background: var(--primary-table-cell-background-alt);
}
.info-row:first-child {
    border-radius: var(--primary-border-radius) var(--primary-border-radius) 0 0;
}
.info-row:last-child {
    border-radius: 0 0 var(--primary-border-radius) var(--primary-border-radius);
}
.info-cell{
    text-align: center;
}

/*------------------- create calendar popup -------------------*/
.create-calendar-options {
    width:510px;
    display:grid;
    grid-gap:10px;
    grid-template-columns: repeat(4,fit-content(200px)) 1fr;
}

.create-calendar-options div {
    text-align: right;
}

/*------------------- bank holiday table -------------------*/
.bank-holiday-table {
    margin-top:10px;
    display:grid;
    grid-gap:2px;
    background: var(--primary-table-background);
    border-radius: var(--primary-border-radius);
    box-shadow: var(--primary-box-shadow);
}
.bank-holiday-row {
    display:grid;
    grid-template-columns: 300px 100px 100px;
    padding:2px 5px;
    background: var(--primary-table-cell-background);
}
.bank-holiday-row:first-child {
    border-radius: var(--primary-border-radius) var(--primary-border-radius) 0 0;
}
.bank-holiday-row:last-child {
    border-radius: 0 0 var(--primary-border-radius) var(--primary-border-radius);
}