.container {
    background-color: white;
    color: black;
    display: grid;
    align-content: center;
    font-size: 0.8em;
    margin: 0;
    height: 1in;
    width: 0.9in;
    padding: 2px 0;
}

.details {
    display: grid;
    grid-template-rows: auto;
    overflow: hidden;
    height: 100%;
}

.title, .sku {
    font-size: 9px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    white-space: normal;
    text-align: center;
    text-overflow: ellipsis;
    padding-left: 0.5px;
    padding-right: 0.5px;
}

.price {
    font-size: 1.2em;
    text-align: center;
}

.loc {
    white-space: normal; 
    font-size: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}