.table{
    height: 100%;
    font-size: 0.9em;
}

.title-row{
    position:sticky;
    top:0;
    z-index: 5;
    text-align: center;
    background: var(--primary-table-background);
}

.row{
    display: grid;
    grid-template-columns: 490px 1fr;
    line-height: 26px;
    min-width: calc(100vw - 10px);
}

.details{
    display: grid;
    grid-template-columns: 20px 20px 200px 100px 100px
}
.details-cell{
    text-align: center;
}
.months{
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    color:transparent;
}
.months:hover {
    color:white;
}
.sku-cell{
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.row > div {
    border-bottom:2px solid transparent;
}
.row:hover{
    background: var(--primary-table-background);
}

.month-cell{
    position:relative;
    text-align: center;
    border-left: 1px solid var(--primary-background);
    min-width:50px;
}

.on-order{
    position:absolute;
    top:0;
    z-index: 1;
    background: transparent;
    height:100%;
    width:100%;
}

.four-month, .one-month{
    position:absolute;
    z-index: 2;
    background: transparent;
    height:10%;
    width:100%;
}
.four-month{
    bottom:0;
}
.one-month{
    bottom:10%;
}

.title-row > div > .month-cell {
    color:white;
}

.popup {
    display:grid;
    grid-template-columns: 300px;
}

.popup > div {
    line-height: 1.5em;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 40%;
    border-top: 1px solid var(--primary-background);
    padding-top: 5px;
    margin-top: 5px;
    height: 35px;
    align-items: center;
}

.list{
    max-height: calc(100vh - 215px);
    overflow-y:auto;
}