/*------------------- fullscreen dim style -------------------*/
.fullscreen-dim{
    position: absolute;
    background:rgba(45,45,45,0.8);
    z-index : 50;
    display:flex;
    justify-content: center;
    top:0;
    left:0;
    bottom: 0;
    right:0;
}

/*------------------- popup style -------------------*/
.popup-frame {
    z-index: 100;
    background:var(--primary-table-background);
    border-radius:5px;
    padding:10px;
    margin-top:50px;
    max-height:fit-content;
    height: min-content;
    box-shadow: var(--primary-box-shadow);
}
.popup-title{
    display: grid;
    grid-template-columns: 1fr 20px;
    border-bottom: 1px solid var(--primary-background);
    padding-bottom: 8px;
    margin-bottom:8px
}

.popup-title span{
    padding: 0 20px;
    align-self: center;
    height:20px;
    line-height: 21px;
    text-align: center;
}

/*------------------- confirm style -------------------*/
.confirm-frame {
    z-index: 100;
    background:var(--primary-table-background);
    border-radius:5px;
    padding:10px;
    margin-top:50px;
    max-height:calc(100vh - 100px);
    height: min-content;
    width:250px;
    box-shadow: var(--primary-box-shadow);
}
.confirm-title{
    text-align: center;
    border-bottom: 1px solid var(--primary-background);
}

.confirm-title, .confirm-text {
    padding-bottom: 8px;


    margin-bottom:8px
}

.confirm-buttons {
    display: grid;
    grid-column-gap: 10px;
    justify-content: center;
    grid-template-columns: 50px 50px;
}

/*------------------- alert style -------------------*/
.alert-frame {
    z-index: 100;
    background:var(--primary-table-background);
    border-radius:5px;
    padding:10px;
    margin-top:50px;
    max-height:calc(100vh - 100px);
    height: min-content;
    width:250px;
    box-shadow: var(--primary-box-shadow);
}
.alert-title{
    text-align: center;
    border-bottom: 1px solid var(--primary-background);
}

.alert-title, .alert-text {
    padding-bottom: 8px;
    margin-bottom:8px
}

.alert-buttons {
    display: flex;
    justify-content: center;
}
.alert-buttons button{
    min-width: 80px;
}