/*------------------- fullscreen dim style -------------------*/
.fullscreen-dim{
    position: fixed;
    background:rgba(45,45,45,0.8);
    z-index : 50;
    display:flex;
    justify-content: center;
    top:0;
    left:0;
    bottom: 0;
    right:0;
}

.fullscreen-layout{
    display:grid;
    grid-template-rows:350px auto 1fr;
    grid-template-columns: 100%;
    grid-gap:20px;
    justify-items: center;
    font-size: 25px;
    padding:10%
}

/*------------------- popup style -------------------*/
.popup-frame {
    z-index: 100;
    background:var(--primary-table-background);
    border-radius:5px;
    padding:10px;
    margin-top:50px;
    max-height:fit-content;
    height: min-content;
    box-shadow: var(--primary-box-shadow);
}
.popup-title{
    display: grid;
    grid-template-columns: 1fr 20px;
    border-bottom: 1px solid var(--primary-background);
    padding-bottom: 8px;
    margin-bottom:8px
}

.popup-title span{
    padding: 0 20px;
    align-self: center;
    height:20px;
    line-height: 21px;
    text-align: center;
}

/*------------------- confirm style -------------------*/
.confirm-frame {
    z-index: 100;
    background:var(--primary-table-background);
    border-radius:5px;
    padding:10px;
    margin-top:50px;
    max-height:calc(100vh - 100px);
    height: min-content;
    width:250px;
    box-shadow: var(--primary-box-shadow);
}
.confirm-title{
    text-align: center;
    border-bottom: 1px solid var(--primary-background);
}

.confirm-title, .confirm-text {
    padding-bottom: 8px;
    margin-bottom:8px
}

.confirm-buttons {
    display: grid;
    grid-column-gap: 10px;
    justify-content: center;
    grid-template-columns: 50px 50px;
}

/*------------------- alert style -------------------*/
.alert-frame {
    z-index: 100;
    background:var(--primary-table-background);
    border-radius:5px;
    padding:10px;
    margin-top:50px;
    max-height:calc(100vh - 100px);
    height: min-content;
    width:250px;
    box-shadow: var(--primary-box-shadow);
}
.alert-title{
    text-align: center;
    border-bottom: 1px solid var(--primary-background);
}

.alert-title, .alert-text {
    padding-bottom: 8px;
    margin-bottom:8px
}

.alert-buttons {
    display: flex;
    justify-content: center;
}
.alert-buttons button{
    min-width: 80px;
}

/*-------------------- tooltip style----------------*/

.tooltip-frame{
    position:fixed;
    z-index:5;
    border-radius: var(--primary-border-radius);
    border: 1px solid var(--primary-background);
    box-shadow: var(--primary-box-shadow);
    background-color: var(--primary-table-cell-background);
}
.tooltip-text{
    padding: var(--table-padding);
}
.tooltip-title{
    padding:2px 5px;
    background:var(--primary-table-background);
    border-bottom:1px solid white;
}

/*-------------------- loading spinner style----------------*/

.spinner {
    display:grid;
    align-items: center;
    height:200px;
    width:200px;
    margin:0 auto;
    mask: radial-gradient(circle 90px, #0000 98%, #fff);
    -webkit-animation: rotation 3s infinite linear;
    -moz-animation: rotation 3s infinite linear;
    -o-animation: rotation 3s infinite linear;
    animation: rotation 3s infinite linear;
    background:linear-gradient(90deg, rgba(255,255,255, 0), var(--primary-color));
    border-radius:100%;
}

.spinner-inner{
    height:180px;
    width:180px;
    margin:auto auto;
    mask: radial-gradient(circle 50px, #0000 98%, #fff);
    -webkit-animation: rotation 3s infinite linear;
    -moz-animation: rotation 3s infinite linear;
    -o-animation: rotation 3s infinite linear;
    animation: rotation 3s infinite linear;
    background:linear-gradient(90deg, rgba(255,255,255, 0), white);
    border-radius:100%;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}