.searchbar-sidebar-one-column{
    display:grid;
    grid-template-areas: "menu menu" "searchbar searchbar" "sidebar column";
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto auto 1fr;
}

.sidebar-one-column{
    display:grid;
    grid-template-areas: "menu menu" "sidebar column";
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
}

.one-column{
    display:grid;
    grid-template-areas: "menu" "column";
    grid-template-rows: auto 1fr;
}

.menu-layout{
    display: grid;
    grid-area: menu;
    grid-template-columns: 38px 1fr 38px;
    background-color: var(--primary-color);
    align-items: center;
    height:30px;
}

.sidebar-layout{
    grid-area:sidebar;
}
.sidebar-layout > div {
    background: var(--primary-table-background);
    box-shadow: var(--primary-box-shadow);
    padding: var(--sidebar-padding);
    border-radius: 5px;
    margin: var(--sidebar-margin);
}

.sidebar-button{
    background-color: var(--primary-color);
    color: var(--primary-inactive-text);
    cursor:pointer;
    user-select: none;
    border:1px solid var(--primary-color);
    border-radius: 5px;
    font-weight: bold;
    box-shadow: var(--primary-box-shadow);
    transition-duration: 0.1s;
    margin:5px;
    padding:3px;
    font-size: 0.9em;
}
.sidebar-button:hover{
    color: var(--primary-active-text);
    border:1px solid var(--primary-color);
    background-color: inherit;
    transform: translate(-1px, -1px);
}
.sidebar-button:active{
    transform: translate(1px, 1px);
}

.active{
    color: var(--primary-active-text);
    border:1px solid var(--primary-color);
    background-color: inherit;
}

.column-layout{
    grid-area:column;
    justify-content: center;
}

.column-layout-background {
    background: var(--primary-table-background);
    box-shadow: var(--primary-box-shadow);
    padding: var(--sidebar-padding);
    border-radius: 5px;
    margin: var(--sidebar-margin);
}