/*-------------- Menu Table ---------------*/

.menu{
    display: grid;
    grid-gap:5px;
    grid-template-rows: auto
}

.menu span {
    display:block;
    width:100%;
    text-align: center;
    padding:5px 0;
}

/*-------------- Filters Table ---------------*/

.filters{
    display:grid;
    grid-gap:5px;
    grid-template-rows: auto
}

/*-------------- Fees Table ---------------*/
.fees-table{
    display:grid;
    grid-gap:10px;
    grid-template-rows: repeat(5,auto)
}

.fees-row{
    display:grid;
    grid-gap:10px;
    grid-template-columns: repeat(5,120px)
}

.fees-row input{
    width:100%
}

/*-------------- Packaging Table ---------------*/

.packaging-table{
    display:grid;
    grid-gap:2px;
    grid-template-rows: auto;
    max-height: calc(100vh - 200px);
    overflow-y:auto
}

.packaging-row{
    display:grid;
    grid-gap:10px;
    grid-template-columns: 200px 75px;
    align-items: center;
    padding:2px 5px;
    background: var(--primary-table-cell-background);
}

.packaging-row:nth-child(odd){
    background: var(--primary-table-cell-background-alt);
}

.packaging-row input{
    text-align: left;
    padding-left:5px;
    width: calc(100% - 10px)
}

/*-------------- Postage Table ---------------*/

.postage-table{
    display:grid;
    grid-gap:2px;
    grid-template-rows: auto;
    max-height: calc(100vh - 200px);
    overflow-y:auto
}
.postage-row {
    display:grid;
    grid-gap:10px;
    grid-template-columns: 75px 80px 400px;
    align-items: center;
    padding:2px 5px;
    background: var(--primary-table-cell-background);
}
.postage-row:nth-child(odd){
    background: var(--primary-table-cell-background-alt);
}

.postage-row input{
    text-align: left;
    padding-left:5px;
    width: calc(100% - 10px)
}

/*-------------- Stock Value Table ---------------*/
.stock-value {
    display:grid;
    grid-gap:10px;
    grid-template-rows: auto;
    text-align: center;
}

/*-------------- Parcel Info Table ---------------*/
.parcel-wrapper{
    display:grid;
    grid-gap:10px;
    grid-template-columns: 1fr 1fr;
    max-height: 500px;
    overflow-y: auto;
}

.postal-year{
    display:grid;
    grid-gap:10px;
    grid-template-rows: auto 1fr;
}

.postal-source-wrapper{
    display:grid;
    grid-gap:10px;
    grid-template-rows: repeat(6, fit-content(1px));
}
.postal-source {
    border-radius: var(--primary-border-radius);
    box-shadow: var(--primary-box-shadow);
}

.postal-service-wrapper{
    display:grid;
    grid-gap:2px;
    grid-template-rows: auto;
}

.postal-service-row{
    display:grid;
    background: var(--primary-table-cell-background);
    grid-gap:10px;
    padding: 2px 5px;
    grid-template-columns: 1fr 50px;
}

.postal-service-row:nth-child(odd){
    background: var(--primary-table-cell-background-alt);
}

.postal-service-row:first-child{
    background: var(--primary-color);
    border-radius: var(--primary-border-radius) var(--primary-border-radius) 0 0;
}

.postal-service-row:last-child{
    border-radius: 0 0 var(--primary-border-radius) var(--primary-border-radius);
}