@page {
    size: A4 portrait;
    margin: 1.5cm 0;
    padding: 0;
}
.local-body {
    display: grid;
    width: 210mm;
    height: 297mm;
    scale:0.95;
    -webkit-print-color-adjust:exact !important;
    print-color-adjust:exact !important;
}

.table{
    color:black;
    border-collapse: collapse;
}

.table th, .table td{
    border:1px solid black;
    padding-left:5px;
}