* {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    scrollbar-width: thin;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}
::-webkit-scrollbar-track {
    background: var(--primary-background);
}
::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 2px;
    border: transparent;
}
::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}

/*#019972*/
:root{
    --primary-color: #586221;
    --secondary-color: #992B08;

    --primary-active-text: #ffffff;
    --primary-inactive-text: #dcd2ca;

    --primary-table-background:#484848;
    --primary-table-cell-background:#606060 ;
    --primary-background: #2d2d2d;

    --primary-box-shadow: 1px 1px 2px 1px #1c1c1c;
    --primary-border-radius: 5px;

    --traffic-light-red: #b70202;
    --traffic-light-orange: #E09112;
    --traffic-light-green: #019972;

    --sidebar-width: 250px;
    --sidebar-border-radius: 5px;
    --sidebar-box-shadow: var(--primary-box-shadow);
    --sidebar-background-color: var(--primary-table-background);

    --table-width: 1fr;
    --table-border-radius: 5px;
    --table-box-shadow: var(--primary-box-shadow);
    --table-background-color: var(--primary-table-background);

    --sidebar-cell-background-color:var(--primary-table-cell-background);
    --sidebar-cell-border-radius:var(--primary-border-radius);
    --sidebar-margin: 20px;
    --sidebar-padding:10px;

    --table-cell-background-color:var(--primary-table-cell-background);
    --table-cell-border-radius:var(--primary-border-radius);
    --table-margin: 20px;
    --table-padding: 10px;
}

body{
    background: var(--primary-background);
    color: whitesmoke;
    margin: 0;
    cursor: default;
}

.fullscreen-layout {
    display: grid;
    height: 100vh;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 250px 1fr;
}

/*--------------------------------Button default styles--------------------------------------*/

button, .button{
    background-color: var(--primary-color);
    color: var(--primary-inactive-text);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: var(--primary-box-shadow);
}

button:hover, .button:hover{
    color: var(--primary-active-text);
    transform: translate(-1px, -1px);
}

button:active{
    transform: translate(0, 0);
    transition-duration: 0.025s;
}

/*-------------------------------Input default styles----------------------------------*/

input{
    text-align: center;
    background-color: whitesmoke;
    border: 2px solid var(--primary-table-cell-background);
    border-radius: 5px;
}

input:focus-visible{
    outline: none
}

input{
    accent-color: var(--primary-color);
}
/*-------------------------------Select default styles----------------------------------*/

select{
    text-align: center;
    background-color: whitesmoke;
    border: 2px solid var(--primary-table-cell-background);
    border-radius: 5px;
}

select:focus-visible{
    outline: none
}

select{
    accent-color: var(--primary-color);
}
/*-------------------------------Top tab menu bar---------------------------------------------*/

.active-tab{
    transition: 0.15s linear;
    margin-top:2px;
    background: rgba(0,0,0,0.25)
}

.menu-bar-wrapper{
    display: grid;
    grid-area: 1 / span 2;
    grid-template-columns: 38px 1fr 38px;
    background-color: var(--primary-color);
    align-items: center;
}

.menu-bar{
    display: flex;
    height:29px;
    background-color: var(--primary-color);
    justify-content: center;
}

.menu-bar span {
    border-radius: 8px 8px 0 0;
    padding: 5px 10px;
    color: var(--primary-inactive-text);
    font-weight: bold;
    white-space: nowrap;
}

.menu-bar span:hover{
    color: var(--primary-active-text);
    cursor: pointer;
}

.menu-bar a{
    color: var(--primary-inactive-text);
    text-decoration: none;
}

.menu-bar a:hover{
    color: var(--primary-active-text);
}

/*--------------------------------------Apps menu-----------------------------------------*/

#apps-button{
    padding-left: 10px;
    color: var(--primary-inactive-text);
    font-weight: bold;
    font-size: 26px;
    border-right: 1px solid var(--primary-inactive-text)
}

#apps-button:hover{
    color: var(--primary-active-text);
    cursor: pointer;
}

#apps-menu{
    margin: 2px 3px;
    z-index: 100;
    display: grid;
    grid-template-rows: repeat(auto-fill, 35px);
    width: 170px;
    background-color: var(--primary-color);
    position: absolute;
    top:30px;
    box-shadow: var(--primary-box-shadow);
    border-radius: 5px;
}

#apps-menu > span {
    display: grid;
    grid-template-columns: 90% 1fr;
    font-weight: bold;
    background-color: var(--primary-table-background);
    height: 25px;
    padding:5px 10px;
    margin: 2px;
    align-content: center;
    border-radius: 5px;
}

#apps-menu button {
    float: right;
    width: 18px;
    height: 19px;
}

#apps-menu div:hover{
    border-radius: 5px;
    background:var(--primary-table-background)
}


#apps-menu a{
    text-decoration: none;
    display:block;
    padding:10px;
    color: var(--primary-inactive-text)
}

#apps-menu a:hover{
    color: var(--primary-active-text);
}

/*--------------------------------------Settings menu-----------------------------------------*/

#settings-button{
    padding-left: 10px;
    color: var(--primary-inactive-text);
    font-weight: bold;
    font-size: 20px;
    border-left: 1px solid var(--primary-inactive-text)
}

#settings-button:hover{
    color: var(--primary-active-text);
    cursor: pointer;
}

#settings-menu{
    margin: 2px 3px;
    z-index: 100;
    display: grid;
    grid-template-rows: repeat(auto-fill, 35px);
    width: 170px;
    background-color: var(--primary-color);
    position: absolute;
    top:30px;
    right:0;
    box-shadow: var(--primary-box-shadow);
    border-radius: 5px;
}

#settings-menu > span {
    display: grid;
    grid-template-columns: 90% 1fr;
    font-weight: bold;
    background-color: var(--primary-table-background);
    height: 25px;
    padding:5px 10px;
    margin: 2px;
    align-content: center;
    border-radius: 5px;
}

#settings-menu button {
    float: right;
    width: 18px;
    height: 19px;
}

#settings-menu div {
    padding: 10px;
}
#settings-menu div:hover{
    border-radius: 5px;
    background:var(--primary-table-background)
}

#settings-menu a{
    text-decoration: none;
    color: var(--primary-inactive-text)
}

#settings-menu a:hover{
    color: var(--primary-active-text);
}

/*------------------------------------Search Bar------------------------------------------*/

#search-bar{
    display: flex;
    align-items: center;
}

#search-bar input[type=radio]{
    margin: 0 5px;
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Chrome, Safari, Opera */
    transform: scale(1.1);
}

#search-bar-buttons{
    margin-right:10px
}
#search-bar-input{
    flex:1;
    padding: 2px 5px;
    text-align: left;
}



/*-------------------------------------Other default styles-----------------------------------*/

.center-align {
    text-align: center;
}